# ============================================================
# .gitignore - SOC Project
# ============================================================

# JANGAN pernah commit credentials & sertifikat!
# (DI-COMMENT AGAR BISA DIPUSH KE GITHUB UNTUK SETUP TEMAN)
# .env
# config/certs/
wazuh-logs/

# Ngrok config (berisi authtoken) & binary
ngrok.yml
ngrok-bin/
ngrok.zip

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Docker override & build cache
docker-compose.override.yml
.docker/

# IDE
.vscode/
.idea/

# Log files lokal
*.log
